projects:
  - name: GFED Medusa Backend and DB
    environments:
      - name: Production
        services:
          - type: web
            runtime: image
            plan: standard
            name: gfed-medusa-be
            region: frankfurt
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-backend/medusa:latest
            envVars:
              - fromGroup: backend-env-group-prod
              - key: DATABASE_URL
                fromDatabase:
                  name: gfed-medusa-database-paid
                  property: connectionString
              - key: DB_NAME
                fromDatabase:
                  name: gfed-medusa-database-paid
                  property: database
        databases:
          - name: gfed-medusa-database
            databaseName: gfed_medusa_database_free2_42qv
            user: gfed_medusa_database_free2_user
            plan: free
            region: frankfurt
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
            postgresMajorVersion: '18'
          - name: gfed-medusa-database-paid
            databaseName: gfed_medusa_database_paid3
            user: gfed_medusa_database_paid3_user
            plan: basic-1gb
            diskSizeGB: 1
            region: frankfurt
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
            postgresMajorVersion: '18'
      - name: QA
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be-qa
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-backend/medusa:latest
            envVars:
              - fromGroup: backend-env-group-qa
      - name: Smoke
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be-smoke
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-backend/medusa:latest
            envVars:
              - fromGroup: backend-env-group-smoke
