projects:
  - name: GFED Medusa Backend and DB
    environments:
      - name: Production
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be
            region: singapore
            autoDeployTrigger: off
            image:
              url: traefik/whoami:v1.11
            envVars:
              - fromGroup: backend-env-group-prod
      - name: QA
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be-qa
            region: singapore
            autoDeployTrigger: off
            image:
              url: traefik/whoami:v1.11
            envVars:
              - fromGroup: backend-env-group-qa
      - name: Smoke
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be-smoke
            region: singapore
            autoDeployTrigger: off
            image:
              url: traefik/whoami:v1.11
            envVars:
              - fromGroup: backend-env-group-smoke
