projects:
  - name: GFED Medusa Backend and DB
    environments:
      - name: Production
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-backend/medusa:latest
            envVars:
              - fromGroup: backend-env-group-prod
        databases:
          - name: gfed-medusa-database
            databaseName: gfed_medusa_database_abc1
            user: gfed_medusa_database_abc1_user
            plan: free
            region: singapore
            ipAllowList:
              - source: 0.0.0.0/0
                description: everywhere
            postgresMajorVersion: '18'
      - name: QA
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be-qa
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-backend/medusa:latest
            envVars:
              - fromGroup: backend-env-group-qa
      - name: Smoke
        services:
          - type: web
            runtime: image
            plan: free
            name: gfed-medusa-be-smoke
            region: singapore
            autoDeployTrigger: off
            image:
              url: ghcr.io/goodfrontend/gfed-medusa-backend/medusa:latest
            envVars:
              - fromGroup: backend-env-group-smoke
